name: Build & Push to Docker Hub

on:
  push:
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKHUB_USERNAME }}
          password: ${{ secrets.DOCKHUB_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKHUB_USERNAME }}/backend_red_social_gera:latest
          platforms: linux/amd64,linux/arm64
